/* Responsive Styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 10px;
}

/* Menu Button Styles */
.menu-item > a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
}

.menu-item > a:hover {
  background-color: #555;
}

.menu-item.active > a {
  background-color: #555;
}

/* Logout Button */
.menu-item button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.menu-item button:hover {
  background-color: #555;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .menu-item {
    margin: 5px;
  }
}



/* authenticated-layout.css */

.container {
  display: flex;
  flex-direction: column;
}

.header {
  /* background-color: #f2f2f2; */
  padding: 20px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-right: 20px;
}

.menu-item a {
  text-decoration: none;
  color: #fff;;
  font-weight: bold;
}

.menu-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 20px;
}

.form-group input {
  width: 100% !important;
  border: none !important;
  border-bottom: 2px solid #888 !important;
  padding: 10px 0 !important;
  font-size: 16px !important;
  background-color: transparent !important;
}


/* Table CSS */

table.greyGridTable {
  border: 1px solid #FFFFFF;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
  color: #331806;
}
table.greyGridTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 2px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #FFFFFF;
  border-top: 2px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}