
  .booking-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('https://www.slashgear.com/img/gallery/uber-trials-booking-rides-by-voice-call-and-our-irony-meters-explode/intro-import.jpg');
    background-size: cover;
    background-position: center;
  }

  .booking-form {
    width: 420px;
    background-color: #f2f2f2;
    padding: 45px;
    border-radius: 10px;
  }
  
  .booking-form h2 {
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: center;
  }

  .booking-form-h2{
    margin-bottom: 30px;
    text-align: center;
    color: #FFF;
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #888;
    padding: 10px 0;
    font-size: 16px;
    background-color: transparent;
  }
  
  .form-group label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #888;
    pointer-events: none;
    transition: 0.2s ease all;
  }
  
  .form-group .highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #00bcd4;
    pointer-events: none;
    opacity: 0;
  }
  
  
  .form-group input:focus ~ label,
  .form-group input:valid ~ label {
    top: -20px;
    font-size: 16px;
    color: #00bcd4;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  button[type='submit'] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  

  /* Responsive styles */
@media screen and (max-width: 480px) {
    .booking-form {
      width: 156px;
    }
  }
  
  .form-input {

    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    height: 10px;
    margin: 15px 0 15px 0;
    padding: 0px 10px 0px 10px;
    border: 3px solid #ccc;
    outline: none;
    border-radius: 8px;
    outline: none;
    resize: none;
    text-align:left;
    -webkit-appearance: none;
    background: transparent;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    color: #000;
    background:#fff;
    font-size: 18px;
    -webkit-transition: border-color ease-in-out .5s,box-shadow ease-in-out .5s;
    transition: border-color ease-in-out .5s,box-shadow ease-in-out .5s;
  }
  
  .form-input:focus {
    border-color: #00bafa;
  }
  
  .form-input + .form-label {
    display: block;
    pointer-events: none;
    margin:  0 0 0 5px;
    line-height: 0px;
    margin-top: -1px;
    margin-bottom: 1px;
    transition: transform 1s;
    margin-top: 10%;
    font-size: 16px;
  }
  
  .form-label {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    color: #ccc;
    font-size: 18px;
    margin-top: 20%;
  }
  
   .form-input:focus + .form-label {
    transform: translateY(-28px);
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    color: #00bafa;
    font-size: 18px;
  }
  
  .input-focus-label{
      transform: translateY(-28px);
      font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
      color: #00bafa;
      font-size: 18px;
  } 
  
  .input-focus{
      border-color: #00bafa;
  }

  .btn-container {
    text-align: center;
  }

  .btn-book {
    padding: 7px;
    width: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: btn-bookbounce 4s infinite;
    cursor: pointer;
  }
  
  @keyframes btn-bookbounce {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1) rotate(-5deg);
    }
  
    25% {
      transform: scale(1) rotate(5deg);
    }
  
    30% {
      transform: scale(1) rotate(-3deg);
    }
  
    35% {
      transform: scale(1) rotate(2deg);
    }
  
    40% {
      transform: scale(1) rotate(0);
    }
  }