
  .booking-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('https://images.unsplash.com/photo-1491515554378-d827a5ffcf43?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1973&q=80');
    background-size: cover;
    background-position: center;
  }

  .booking-form {
    width: 420px;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 8px;
  }
  
  .booking-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .booking-form-h2{
    margin-bottom: 30px;
    text-align: center;
    color: #FFF;
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #888;
    padding: 10px 0;
    font-size: 16px;
    background-color: transparent;
  }
  
  .form-group label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #888;
    pointer-events: none;
    transition: 0.2s ease all;
  }
  
  .form-group .highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #00bcd4;
    pointer-events: none;
    opacity: 0;
  }
  
  
  .form-group input:focus ~ label,
  .form-group input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #00bcd4;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  button[type='submit'] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  

  /* Responsive styles */
@media screen and (max-width: 480px) {
    .booking-form {
      width: 156px;
    }
  }
  